/* your code */
/* div {
  border-radius: 50px;
} */
table {
  border-collapse: separate;
  text-indent: initial;
  border-spacing: 2px;
}
tr:nth-child(2n) {
  background-color: #ddd;
}
th,
td {
  text-align: left;
  padding: 15px;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 15px;
}
th {
  background-color: #215a8e;
  color: white;
}
td {
  color: black;
}
